# Credentials used by "dotnet build" to access the private NuGet registry.
#
# If you use a personal GitLab access token, you must use your GitLab *username*, *not* your email address and add the
# "api" scope.
#
# (The token used for Unity's UPM will also work.)
MRWATTS_PRIVATE_PACKAGE_REGISTRY_USERNAME=<YOUR_GITLAB_USERNAME>
MRWATTS_PRIVATE_PACKAGE_REGISTRY_PASSWORD=<YOUR_GITLAB_TOKEN>

# Path to the base folder where your Unity editor installations are located. This is the folder that contains subfolders
# called e.g. "2021.3.8f1".
UNITY_INSTALLATION_BASE_PATH=<PATH_TO_YOUR_UNITY_BASE_FOLDER>